<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <style>
            nav{
                background-color: rgb(15, 15, 78);
                padding: 0px 30px;
                text-align: center;
            }
            nav a{
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <nav>
            <a href="">Navigation</a>
        </nav>

        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>